version: '3.6'

services:
  api:
    build: .
    environment:
        STAGE: test
        SQLALCHEMY_DATABASE_URI: postgresql+psycopg2://admin:admin@db/imdb
    ports:
      - 8080:8080
    depends_on:
      - database
    restart: always

  db:
    image: postgres
    env_file:
      - ./.env
      - imdb/settings.py
    ports:
      - "5432:5432"
    volumes:
      - $PWD/pg-data/:/var/lib/postgresql/data
