version: '3.6'

services:
  api:
    build: .
    environment:
        DB_URL: postgresql://admin:admin@db/imdb
    ports:
      - 8080:8080
    depends_on:
      - db
    restart: always

  db:
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: imdb
    ports:
      - "5432:5432"
    volumes:
      - $PWD/pg-data/:/var/lib/postgresql/data
